$text-dark: #3d3d3d;
$text-bright: #878796;
$text-white: #ffffff;
$text-orange: #f16522;
$elements-orange: #f16522;
$elements-light-gray: #b2b2b2;
$elements-gray: #363636;
$portfolio-gray: #28282e;
$footer-gray: #282829;
$cv-gray: #f1f1f1;
