@import url('https://fonts.googleapis.com/css?family=Dosis:300,400,500,600,700,800|Open+Sans:300,400,600,700,800&subset=latin-ext');
$font-main: 'Dosis', sans-serif;
$font-text: 'Open Sans', sans-serif;
$font-size-paragraph: 14px;
$font-elements: 16px;
$font-heading-1: 50px;
$font-heading-2: 30px;
$font-small: 12px;
