#portfolio-section {
	background-color: $portfolio-gray;
	margin-top: 70px;
	h2 {
		padding-top: 100px;
		font-family: $font-main;
		font-weight: bold;
		font-size: $font-heading-2;
		color: $text-white;
		letter-spacing: 4px;
	}
	.line {
		margin-top: 30px;
		margin:0 auto;
		width: 35px;
		height: 5px;
		background-color: $elements-orange;
	}
	p {
		padding-top: 30px;
		font-family: $font-text;
		font-weight: light;
		font-size: $font-size-paragraph;
		color: $text-bright;
		line-height: 30px;
	}
	.slide {
		padding-top: 20px;
		padding-bottom: 70px;
		.portfolio-name {
			font-family: $font-main;
			font-weight: bold;
			font-size: $font-heading-2;
			color: $text-white;
		}
		.portfolio-description {
			font-family: $font-text;
			font-weight: light;
			font-size: $font-size-paragraph;
			color: $text-bright;
			line-height: 30px;
		}
		.portfolio-information {
			border-top: 1px dashed $text-bright;
			margin-top: 40px;
			tr p{
				padding-top: 35px;
				line-height: 18px;
			}
			td:nth-child(2) {
				padding-left: 35px;
			}
			td:nth-child(3) {
				padding-left: 15px;
			}
		}
		.carousel-control {
			background: none;
			color: #222;
			font-size: 2.3em;
			text-shadow: none;
			margin-top: 480px;
			.left {
				left: -12px;
			}
			.right {
				right: -12px !important;
			}
		}

		.carousel-indicators {
			right: 50%;
			top: auto;
			bottom: 50px;
			margin-right: -19px;
			li {
				background: #c0c0c0;
			}
			.active {
				background: #333333;
			}
		}
		
	}

}